/**
 * Kalameh font is considered a proprietary software.
 * To gain information about the laws regarding the use of these fonts, please visit fontiran.com
 * This set of fonts are used in this project under the license: 342VUY
 */

/* Kalameh Persian digits */
@font-face {
    font-family: 'kalameh';
    font-weight: normal;
    font-display: swap;
    src: url("./kalameh/fa_normal/kalameh_fa_normal.woff2") format("woff2"),
    url("./kalameh/fa_normal/kalameh_fa_normal.woff") format("woff"),
    url("./kalameh/fa_normal/kalameh_fa_normal.ttf") format("truetype");
}
@font-face {
    font-family: 'kalameh';
    font-weight: bold;
    font-display: swap;
    src: url("./kalameh/fa_bold/kalameh_fa_bold.woff2") format("woff2"),
    url("./kalameh/fa_bold/kalameh_fa_bold.woff") format("woff"),
    url("./kalameh/fa_bold/kalameh_fa_bold.ttf") format("truetype");
}

/* Shabnam Persian digits */
@font-face {
    font-family: 'shabnam';
    font-weight: normal;
    font-display: swap;
    src: url("./shabnam/fa_normal/shabnam_fa_normal.woff2") format("woff2"),
    url("./shabnam/fa_normal/shabnam_fa_normal.woff") format("woff"),
    url("./shabnam/fa_normal/shabnam_fa_normal.ttf") format("truetype");
}
@font-face {
    font-family: 'shabnam';
    font-weight: bold;
    font-display: swap;
    src: url("./shabnam/fa_bold/shabnam_fa_bold.woff2") format("woff2"),
    url("./shabnam/fa_bold/shabnam_fa_bold.woff") format("woff"),
    url("./shabnam/fa_bold/shabnam_fa_bold.ttf") format("truetype");
}