:root {
    --sfd-navbar-height: 70px;
}

.MainWrapper {
    position: relative;
    box-sizing: border-box;
    border-radius: 0 !important;
    min-height: 100svh;
    padding-top: var(--sfd-navbar-height);
    background: var(--sfd-bg-color) !important;
}

.LabeledCircularProgressContainer {
    --stroke: 2px;
    --size: 150px;
    position: relative;
    margin: auto;
    border-radius: 50%;
    /*border: var(--stroke) inset white;*/
    box-shadow: inset 0 0 0 var(--stroke) rgba(var(--sfd-primary-rgb), .2);
    width: calc(var(--size) - var(--stroke));
    height: calc(var(--size) - var(--stroke));
}

.LabeledCircularProgressContainer .MuiCircularProgress-root {
    position: absolute;
    left: calc(0px - var(--stroke) / 2);
    top: calc(0px - var(--stroke) / 2);
}

.LabeledCircularProgressContainer .--container {
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
}

/* Snackbar */
.GlobalSnackbar .MuiAlert-message {
    color: white !important;
}

/* Charts */
.ChartOverlay {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(var(--sfd-fg-color-rgb), .8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;
}

/* Data Grid */
.MuiDataGrid-root {
    --DataGrid-t-color-border-base: var(--sfd-border-color) !important;
    --DataGrid-t-color-background-base: var(--sfd-fg-color) !important;
    --DataGrid-t-header-background-base: var(--sfd-bg-color) !important;
    --unstable_DataGrid-radius: 16px !important;
}

@media ( min-width: 900px ) {
    body.sidebar-collapsed .MuiDataGrid-root {
        width: calc(100vw - 32px);
    }
    body:not(.sidebar-collapsed) .MuiDataGrid-root {
        width: calc(100vw - var(--sfd-sidebar-width) - 32px);
    }
}

.font-title {
    font-family: var(--sfd-title-font) !important;
}

.offset {
    position: relative;
}

.offset.b-1 { bottom: -1px }
.offset.b-2 { bottom: -2px }
.offset.b-3 { bottom: -3px }
.offset.b-4 { bottom: -4px }
.offset.b-5 { bottom: -5px }

.offset.t-1 { top: -1px }
.offset.t-2 { top: -2px }
.offset.t-3 { top: -3px }
.offset.t-4 { top: -4px }
.offset.t-5 { top: -5px }

.me-1 { margin-inline-end: 1px }
.me-2 { margin-inline-end: 2px }
.me-4 { margin-inline-end: 4px }
.me-8 { margin-inline-end: 8px }

.ms-1 { margin-inline-start: 1px }
.ms-2 { margin-inline-start: 2px }
.ms-4 { margin-inline-start: 4px }
.ms-8 { margin-inline-start: 8px }

.animation-spin {
    transform: rotate(0deg);
    animation: animation-spin infinite 3s;
}
.animation-spin.speed-2x {
    animation-duration: 1.5s;
}
.animation-spin.speed-3x {
    animation-duration: 1s;
}
.animation-spin.linear {
    animation-timing-function: linear;
}

@keyframes animation-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}